h1 {
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
    }
    h2{
        margin-left: 30px;
    }
    p{
    text-indent: 2em; /* 设置段落开头空两个字符的缩进 */
    width: 30em; /* 设置每行的最大宽度为30个字符 */
    white-space: pre-wrap; /* 允许段落内的换行符生效 */
    word-break: break-all; /* 允许单词内的换行 */
    }
    /*.input {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
    }*/
        /* 导航栏样式 */
        nav {
          background-color: #f2f2f2;
          padding: 20px;
        }
        nav ul {
          list-style-type: none;
          margin: 0;
          padding: 0 5%;
          display: flex;
          justify-content: space-between;
          /* 导航栏内容水品均匀分布 */
        }
        nav ul li {
          margin-right: 10px;
        }
        nav ul li a {
          text-decoration: none;
          color: #333;
          padding: 5px 10px;
        }
        /* 页面内容样式 */
        .page-content {
          padding: 20px;
        }
        .main-title{
          font-size: 50px;
          color: #4d4f53;
          letter-spacing: 1px;
          line-height: 54px;
          padding: 20px 0;
          background-color: #b0bace;
          margin: 0;
          text-align: center;
        }